@import '@styles/color';

.container{
   flex:1;
   .articleHead{
      display: flex;
      flex-direction: column;
      gap:.5rem;
      align-content: flex-start;
      .title{
         color:$color-main-primary;
         font-size: 1rem;
      }
      .body{
         color: $color-grey;
         font-size: .75rem;
         align-self: flex-start;
      }
      .readMore{
         align-self: flex-end;
      }
   }
}
