@import '@styles/color';

.headerContainer{
    display: flex;
    justify-content: space-between;
    height: 5rem !important;
    .logoContainer{
        display: flex;
        width: 18.75rem;
        height: 100%;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
        background-color: $color-main-primary;
    }
    .heeaderRight{
        display: flex;
        gap: 1rem;
        align-items: center;
        padding-right: 1rem;
        .logout{
            color:$color-main-primary;
            cursor: pointer;
            &:hover{
                background-color: $color-main-primary;
                padding: .5rem;
                color: white;
                border-radius: .5rem;
            }
        }
    }
}
