@import '@styles/color';

.container{
  display: flex;
  flex-direction: column;
  .header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-end;
    margin-bottom: 4rem;
    .pageTitle{
      display: flex;
      flex-direction: column;
      &>h2,>p{
        margin: 0;
      }
      &>h2{
        color: $color-text-alt;
        font-weight: 450;
        font-size: 1rem;
      }
      &>p{
        color: $color-grey;
        font-weight: 450;
        font-size: 0.75rem;
      }
    }  
  }

  .tableTr{
    border: 1px solid #E7E7E7;
  }
}
